.container {
  width: 60%;
  margin: auto;
}

// CUSTOM BUTTONS

.btn {
  border: 1px solid var(--primary-color);
  color: var(--quaternary-color);
  padding: 10px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
}

// BADGE

.badge {
  padding: 4px;
  background-color: var(--primary-color-light);
  margin-right: 8px;
}
