:root {
  --tertiary-color: #21333e;
  --primary-color: #058283;
  --header-secondary-color: #c0c3d0;
  --secondary-color: #ced2d3;
  --quaternary-color: #ffffff;

  --primary-color-light: rgba(5, 130, 131, 0.3);

  --line-color: #c5dfe0;
  --footer-card-color: #19191f;

  --bg-primary-color: #111117;
  --bg-secondary-color: #eef4ed;
  --bg-footer-color: #0d0d11;
}
